@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');

*{
	min-width: 340px;	
	margin:auto;	
}

.regForm{
	line-height: 5;
	display: block;
	text-align:center;
	font-family: 'Anonymous Pro', monospace;	
	border: 1px solid #5D6D7E;
}

.footer{
	margin-right: auto;
	margin-top: auto;
	line-height: 5;
	text-align: center;
	color: #FFF;
	background-color: #000;
}
